@model List<student_manager.Web.Models.Entities.Student>

<h1>Students</h1>

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Course</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var student in Model)
        {
            <tr>
                <td>@student.Name</td>
                <td>@student.Age</td>
                <td>@student.Email</td>
                <td>@student.Course</td>
                <td><a class="btn btn-primary" asp-controller="Students" asp-action="Edit" asp-route-id="@student.Id">Edit</a></td>
                <td>
                    <form asp-action="Delete" asp-controller="Students" method="post" style="display:inline;">
                        <input type="hidden" name="id" value="@student.Id" /> <!-- Pass the student's ID -->
                        <button type="submit" class="btn btn-danger ms-3">Delete</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>

<div>
    <a class="btn btn-primary" asp-controller="Students" asp-action="Add">Add Student</a>
</div>


